 <footer class="bg-light text-center py-4">
  <div class="container">

    <div class="mb-3">
      <a href="#" class="text-dark mx-2"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="text-dark mx-2"><i class="fab fa-instagram"></i></a>
      <a href="#" class="text-dark mx-2"><i class="fab fa-linkedin-in"></i></a>
    </div>

    <div class="text-dark mb-2">
      © PJS Private Limited
    </div>

    <div>
      <a href="#" class="text-dark mx-2 text-decoration-none">Privacy Terms</a>
    </div>
  </div>
</footer>